.text{ 
    margin: 150px;
}  
.ttm { text-align: center;
 display: flex;
}
main{
    margin: 150px;
    
}

.list{
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}
.b1{
    width: 325px;
}
input{
    width: 300px;
    height: 40px;
    border-radius: 10px;

}
.bot{
    width: 300px;
    height: 40px;
    border-radius: 10px;
}
.bb{
    margin-bottom: 20px;
    border-radius: 10px;
}
.p{
    text-align: right;
}

